<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBipaBE5AEYuyp83uS9G4MJyjRpXTgYLoo</string>
	<key>GCM_SENDER_ID</key>
	<string>579521669337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IMeCorporarion.TheMart</string>
	<key>PROJECT_ID</key>
	<string>themart-b3a72</string>
	<key>STORAGE_BUCKET</key>
	<string>themart-b3a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579521669337:ios:2abc099a654ed6bf7776c8</string>
</dict>
</plist>